<div class="forgotPassword-container" ng-controller="forgotPassword as forgotPassword">
    <div>
    <label>Please Enter Your UserName:
        <input type="text" ng-model="UserName" placeholder="Enter userName" name="UserName" required>
    </label>
        <button ng-click="forgotPassword.getQuestions();">Enter</button>
    </div>
    <div>
       Question 1: {{qustion1}}

      <input type="text" ng-model="answer1" placeholder="Enter answer 1" name="answer1" required>
    </div>
    <br>
    <div>
       Question 2: {{qustion2}}
    <input type="text" ng-model="answer2" placeholder="Enter answer 2" name="answer2" required>
    </div>
    <br>
  <button ng-click="forgotPassword.checkPass();">Get Password</button>
    <br>

    <br>
    <br>
</div>